<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Про медведя</title>
</head>
<body>
    <div class=author><span class="p"><span class=fi></span>Фрейд</span></div>
    <div class=title><h1>Выход за метасознание</h1></div>
    <span class="p"><span class=fi></span>Какой самый смешной анекдот в мире? Это анекдот на профессиональную тему. Клиент спрашивает у известного адвоката: «Месье, если я заплачу вам одну тысячу евро, вы ответите мне на два вопроса?». Адвокат отвечает: «Нет»</span>
</body>
</html>